div {
    background-color: darkgrey;
    border-radius: 20px;
    margin-left: 2%;
    margin-right: 92%;
    color: white;
    text-align: center;
 }

body {
    background-color: beige; /* Barva pozadí celého těla stránky bude béžová */
    margin: 0; /* Odstraní výchozí okraje stránky */
    line-height: 130%; /* Zvětší výšku řádku pro lepší čitelnost */
    background-size: cover;
 }

 /* Nastavení pro hlavní část stránky */
 main {
     width: 1200px; /* Šířka hlavního obsahu */
     margin: 0 auto; /* Vycentruje hlavní obsah na stránce */
     background-color: white; /* Barva pozadí hlavní části */
     padding: 20px; /* Vnitřní okraje pro hlavní obsah */
 }
 
 /* Nastavení pro záhlaví */
 header {
     background-color: rgb(25, 58, 91); /* Barva pozadí záhlaví */
     padding: 40px 0; /* Vnitřní odsazení od horního a spodního okraje */
 }
 
 /* Nastavení pro patičku */
 footer {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    color: white;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: grey;
    border-radius: 20px;
    margin-left: 34%;
    margin-right: 34%;
}
 
 /* Globální nastavení pro nadpisy */
 h1, h2, h3 {
     font-family: Arial, Helvetica, sans-serif; /* Výchozí písmo pro nadpisy */
 }
 
 /* Nastavení pro nadpis první úrovně */
 h1 {
     font-size: 2em; /* Dvojnásobná velikost základní velikosti textu */
     color: aqua; /* Světle modrá barva textu */
     text-align: center; /* Zarovnání textu na střed */
     text-transform: uppercase; /* Text bude zobrazen velkými písmeny */
    }
 
 /* Nastavení pro nadpis druhé úrovně */
 h2 {
     color: rgb(24, 72, 120); /* Specifická modrá barva textu */
     margin-top: 30px; /* Horní okraj pro oddělení od předchozího obsahu */
 }
 
 /* Nastavení pro nadpis třetí úrovně */
 h3 {
     border-bottom: 1px dotted #333; /* Čárkované spodní ohraničení */
     font-size: 1.2em; /* Zvýšená velikost písma */
     margin-top: 20px; /* Horní okraj pro oddělení od předchozího obsahu */
 }
