body {
    background-image: url(../img/background.png);
    background-size: cover;
    color: white;
}

footer {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    color: white;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: grey;
    border-radius: 20px;
    margin-left: 34%;
    margin-right: 34%;
}

h1 {
    size: 50px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 80%;
    color: white;
    text-transform: uppercase;
    background-color: grey;
    border-radius: 20px;
    text-align: center;
}

h2 {
    size: 25px;
    margin-left: 40px;
}

h3 {
    margin-left: 25px;
}

h4 {
    text-align: right;
    color: aliceblue;
}

main {
    margin-left: 20px;
    margin-top: 50px;
    margin-right: 80%;
    background-color: darkgrey;
    border-radius: 20px;
}
